#contact_sidenav {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

#thankyoumessage {
    color: white;
    font-size: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
}

#contact_sidenav p {
    color: white;
    width: 800px;
    max-width: 90%;
    font-size: 1.1em;
    margin: auto;
    letter-spacing: 1.5px;
}

.customer_name {
    float: left;
    margin: 20px auto;
    border-radius: 7px;
    padding: 10px;
    width: 45%;
}

.customer_email {
    float: right;
    margin: 20px auto;
    border-radius: 7px;
    padding: 10px;
    width: 45%;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    padding: 10px;
}

/*.customer_name {*/
/*    float: left;*/
/*    background: transparent;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    border-radius: 7px;*/
/*    padding: 10px;*/
/*    font-size: 100%;*/
/*    margin: 15px;*/
/*    width: 45%;*/
/*    max-width: 90%;*/
/*}*/

/*.customer_email {*/
/*    float: right;*/
/*    background: transparent;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    border-radius: 7px;*/
/*    padding: 10px;*/
/*    font-size: 100%;*/
/*    margin: 0px;*/
/*    width: 45%;*/
/*    max-width: 90%;*/
/*}*/

/*textarea {*/
/*    background: transparent;*/
/*    border: 2px solid white;*/
/*    border-radius: 7px;*/
/*    display: block;*/
/*    resize: none;*/
/*    margin: 15px;*/
/*    padding: 10px;*/
/*    width: 100%;*/
/*    height: 150px;*/
/*    font-size: 100%;*/
/*    color: white;*/

/*}*/

fieldset {
    border: none;
    margin: 30px auto;
    max-width: 90%;
    width: 500px;
}

.submit_project {
    margin: 30px auto;
    background: transparent;
    color: white;
    border: 2px solid darkorange;
    letter-spacing: 1;
    font-weight: 100;
    transition: 0.3s;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 1.5em;
}

.submit_project:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 5px darkorange;
    padding-left: 40px;
    padding-right: 40px;
}

.loader {
    display: none;
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid darkorange; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    animation: spin 1s linear infinite;
}

@media (max-width: 670px) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        overflow-y: auto;
    }
}
