/*--------------------------------
PRIMARY STYLES
--------------------------------*/

@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Regular.woff');
}

body {
    font-family: Quicksand, serif;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

/*--------------------------------
VIDEO BACKGROUND
--------------------------------*/

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------
PAGE DESIGN
--------------------------------*/

/*---------------Main content---------------*/

.content {
    position: relative;
    top: 5%;
    text-align: center;
}

.greetings {
    font-size: 350%;
    letter-spacing: 1px;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

/*---------------Footer---------------*/

footer {
    position: absolute;
    bottom: 3%;
    width: 100%;
    left: 0;
    text-align: center;
}

.social_media {
    height: 45px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.social_image {
    border: 2px solid white;
    padding: 3px;
    margin: 0 4px 0;
    border-radius: 40px;
    max-height: 100%;
}

.instagram:hover {
    border-color: #c32aa3;
}

.facebook:hover {
    border-color: #3b5998;
}

.linkedin:hover {
    border-color: #007bb5;
}

.youtube:hover {
    border-color: #FF0000;
}

/*--------------------------------
SIDE BUTTONS
--------------------------------*/
/*TODO: change*/

.sideButtons {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
}

.button {
    border: 2px solid #fd0a70;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 80px;
    width: 250px;
    height: 60px;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px #fd0a70;
}

.nav_button {
    display: inline-block;
    width: 250px;
    margin: 20px 50px;
    height: 60px;
    line-height: 60px;
    padding: 8px;
    font-size: 1.2em;
    text-align: center;

    letter-spacing: 1px;
    font-weight: 100;
    text-decoration: none;
    color: white;
}

.nav_button:hover {
    cursor: pointer;
}

/*--------------------------------
GALLERY
--------------------------------*/

.elem, .elem * {
    box-sizing: border-box;
    margin: 0 !important;
}

.gallery_panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.elem > span {
    display: block;
    cursor: pointer;
    height: 0;
    padding-bottom: 70%;
    background-size: cover;
    background-position: center center;
}

.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
    opacity: 0 !important;
}

.lcl_fade_oc.lcl_is_closing #lcl_overlay {
    -webkit-transition-delay: .15s !important;
    transition-delay: .15s !important;
}

/*--------------------------------
ABOUT ME
--------------------------------*/

.about_container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.about_label_container {
    height: 12%;
}

.about_label {
    font-size: 10vh !important;
    margin: 0 !important;
    color: white !important;
}

.about_photo {
    float: left;
    width: 50%;
    height: 88%;
    display: inline-block;
    background-image: url("../images/catp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.about_text_container {
    position: relative;
    float: left;
    width: 50%;
    height: 88%;
    display: inline-block;
}

.about_text_container_child {
    width: 75%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.about_text {
    font-size: 1.5vh !important;
    color: white !important;
}

.download_cv {
    margin: 15px auto;
    background: transparent;
    color: white;
    border: 2px solid #fd0a70;
    font-weight: 100;
    transition: 0.3s;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 1.5vh;
    max-width: 75%;
}

.download_cv:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px #fd0a70;
}

/*--------------------------------
CONTACT
--------------------------------*/

#contact_sidenav {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}

.contact_container {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
}

#thankyoumessage {
    color: white;
    font-size: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
}

#contact_sidenav p {
    color: white;
    width: 800px;
    max-width: 90%;
    font-size: 1.1em;
    margin: auto;
    letter-spacing: 1.5px;
}

.customer_name {
    float: left;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    width: 45%;
    font-size: 100%;
}

.customer_email {
    float: right;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    width: 45%;
    font-size: 100%;
}

textarea {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    padding: 10px;
    font-size: 100%;
}

fieldset {
    border: none;
    margin: 30px auto;
    max-width: 90%;
    width: 500px;
}

.submit_project {
    margin: 30px auto;
    background: transparent;
    color: white;
    border: 2px solid #fd0a70;
    letter-spacing: 1;
    font-weight: 100;
    transition: 0.3s;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    font-size: 1.5em;
}

.submit_project:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px #fd0a70
}

.loader {
    display: none;
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #fd0a70; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto;
    animation: spin 1s linear infinite;
}

/*=====================================
------------------------
MEDIA QUERIES
------------------------
=====================================*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }

    .about_photo {
        width: 100%;
        height: 100%;
    }

    .about_text_container {
        width: 100%;
        height: 100%;
    }

    .about_label_container {
        height: 0;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }

    /*.about_photo {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/

    /*.about_text_container {*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*}*/

    /*.about_label_container {*/
    /*    height: 0;*/
    /*}*/
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }

    .about_photo {
        width: 50%;
        height: 88%;
    }

    .about_text_container {
        width: 50%;
        height: 88%;
    }

    .about_label_container {
        height: 12%;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }

    .about_photo {
        width: 50%;
        height: 88%;
    }

    .about_text_container {
        width: 50%;
        height: 88%;
    }

    .about_label_container {
        height: 12%;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }

    .about_photo {
        width: 50%;
        height: 88%;
    }

    .about_text_container {
        width: 50%;
        height: 88%;
    }

    .about_label_container {
        height: 12%;
    }
}

/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width: 1024px) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }

    .about_photo {
        width: 50%;
        height: 88%;
    }

    .about_text_container {
        width: 50%;
        height: 88%;
    }

    .about_label_container {
        height: 12%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
    #contact_sidenav {
        height: auto;
        overflow-y: hidden;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }

    textarea {
        width: 100%;
    }

    .customer_name {
        float: left;
        width: 45%;
    }

    .customer_email {
        float: right;
        width: 45%;
    }

    .about_photo {
        width: 50%;
        height: 88%;
    }

    .about_text_container {
        width: 50%;
        height: 88%;
    }

    .about_label_container {
        height: 12%;
    }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
}

/* Google Pixel 2 XL ----------- */
@media screen and (device-width: 823px) and (min-device-height: 411px) and (max-device-height: 412px){
    .customer_name {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    .customer_email {
        margin: 20px auto;
        display: block;
        float: none;
        width: 90%
    }

    textarea {
        width: 90%;
    }

    #contact_sidenav {
        height: 100%;
        position: relative;
        overflow-y: auto;
    }
}